/*      Everything      */

.titlebar, #goalNumber, #wins, #losses, #mainCounter, .ruby, .sapphire, .topaz, .emerald
{
    text-align: center;
}





/*      MAIN COMPONENTS     */

.titlebar
{
    background-color: lightblue;
    height: 150px;
    padding-top: 3%;
}


#goalNumber 
{
    background-color: lightblue;
    height: 130px;
    padding-top: 17px;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    color: #e8667c;
}

#wins, #losses
{
    background-color: lightseagreen;
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10%;

}

#winLossBumper
{
    background-color: lightseagreen;
    
}

#lossText
{
    text-align: right;
    font-family: 'Press Start 2P', cursive;
    vertical-align: 20%;
}

#winText
{
    font-family: 'Press Start 2P', cursive;
    
}



#mainCounter 
{
    background-color: lightblue;
    height: 400px;
    font-size: 120px;
    padding-top: 8%;
    border-radius: 50%;
    font-family: 'Press Start 2P', cursive;

    animation-name: example5;
    animation-duration: 1s;

}

@keyframes example5 {
    from {background-color: white;}
    to {background-color: lightblue;}
}


.bg
{
    margin: 0;
    background: url('../images/bg.jpg');
    background-size: 110%;
}

#title
{
    font-family: 'Press Start 2P', cursive;
    color: #e8667c;
}

#instructions
{
    font-family: 'Press Start 2P', cursive;
    font-size: 80%;
    padding-top: 2%;
}


/*      CRYSTALS        */

.ruby
{
    background-color: lightblue;
    border-radius: 50%;
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: lightblue;}
}

.sapphire
{
    background-color: #e89940;
    border-radius: 50%;
    animation-name: example2;
    animation-duration: 1s;
}

@keyframes example2 {
    from {background-color: blue;}
    to {background-color: #e89940;}
}

.topaz 
{
    background-color: #e88bdc;
    border-radius: 50%;
    animation-name: example3;
    animation-duration: 1s;
}

@keyframes example3 {
    from {background-color: yellow;}
    to {background-color: #e88bdc;}
}


.emerald
{
    background-color: #e8667c;
    border-radius: 50%;
    animation-name: example4;
    animation-duration: 1s;
}

@keyframes example4 {
    from {background-color: green;}
    to {background-color: #e8667c;}
}

/*      Crystal Group       */
.ruby, .sapphire, .topaz, .emerald
{
    height: 100px;
}

.crystalIMG
{
    padding-top: 8%;
}

@media (max-width: 1024px)
{

#mainCounter{
    height: 3em;
}

.bg{
    background-size: 150%;
}

.crystalIMG{
    height: 30px;
    width: 30px;
    
}

#instructions{
    margin: 1em;
}

}

@media (max-width: 768px)
{
#goalNumber{
    height: 80px;
    padding-top: 0;
    font-size: 50px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    color: #e8667c;
    width: 4em;
}

#mainCounter{
    height: 3em;
    width: 3em;
}

.bg{
    background-size: 300%;
}

.crystalIMG{
    height: 30px;
    width: 30px;
    
}

#instructions{
    margin: 1em;
}

#wins, #losses
{
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 10%;
    width: 3em;

}


}